# ---ENVIRONMENT--- #
## development or production
## DEV_SERVER=NATIVE or WAMP or XAMPP
## When using PHP NATIVE development server, BASE_URL=localhost:8000
## and run php -S localhost:8000 -t public server.php
## Otherwise, when using WAMP or XAMPP, BASE_URL=localhost/app_folder
## In production, BASE_URL=your-domain without protocol

ENVIRONMENT=development
DEV_SERVER=WAMP
BASE_URL=localhost/zap

# ---SESSION_NAME--- #
SESSION_NAME=zapapp

# ---DATABASE--- #
## DRIVER = mysql or sqlite
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=mydb
DB_DRIVER=mysql
DB_PORT=
SQLITE_PATH=storage/database/${DB_NAME}.sqlite

# ---EMAIL--- #
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=
EMAIL_PORT=
EMAIL_SECURE=

# ---KEYS--- #
##Generate new key using php console generate --key
ZAP_KEY=f5b74794e970cf188bcb8c74a7cc696beb09e2d900dfe06966b0dadbea9f6d92b