# ----------------------------------------------------------------
# Deny all direct access to files in this folder
# ----------------------------------------------------------------
<FilesMatch ".*">
    Require all denied
</FilesMatch>

# ----------------------------------------------------------------
# Disable directory browsing
# ----------------------------------------------------------------
Options -Indexes
